USE [master]
GO
/****** Object:  Database [EPATEC]    Script Date: 04/09/2016 21:47:46 ******/
CREATE DATABASE [EPATEC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EPATEC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EPATEC.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EPATEC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EPATEC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EPATEC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EPATEC]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 04/09/2016 21:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[Id_Categoría] [bigint] NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Descripción] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Categoría] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 04/09/2016 21:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[Cedula_Cliente] [bigint] NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Apellidos] [varchar](max) NOT NULL,
	[Grado_de_Penalizacion] [int] NULL,
	[Lugar_de_Residencia] [varchar](max) NOT NULL,
	[Fecha_de_Nacimiento] [varchar](max) NOT NULL,
	[Telefono] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cedula_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTIENE]    Script Date: 04/09/2016 21:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTIENE](
	[Nombre_Producto] [varchar](30) NOT NULL,
	[Id_Pedido] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Nombre_Producto] ASC,
	[Id_Pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 04/09/2016 21:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[Id_Empleado] [bigint] NOT NULL,
	[Id_Sucursal] [bigint] NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Puesto] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 04/09/2016 21:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[Id_Pedido] [bigint] NOT NULL,
	[Cedula_Cliente] [bigint] NOT NULL,
	[Id_Sucursal] [bigint] NOT NULL,
	[Telefono_Preferido] [varchar](max) NOT NULL,
	[Hora_de_Creación] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 04/09/2016 21:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[Nombre_Producto] [varchar](30) NOT NULL,
	[Id_Sucursal] [bigint] NOT NULL,
	[Cedula_Provedor] [bigint] NOT NULL,
	[Id_Categoría] [bigint] NOT NULL,
	[Descripción] [varchar](max) NOT NULL,
	[Exento] [int] NULL,
	[Cantidad_Disponible] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Nombre_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 04/09/2016 21:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[Cedula_Proveedor] [bigint] NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Apellidos] [varchar](max) NOT NULL,
	[Fecha_de_Nacimiento] [date] NOT NULL,
	[Lugar_de_Residencia] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cedula_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUCURSAL]    Script Date: 04/09/2016 21:47:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCURSAL](
	[Id_Sucursal] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CONTIENE]  WITH CHECK ADD  CONSTRAINT [FK_CONTIENE_PEDIDO] FOREIGN KEY([Id_Pedido])
REFERENCES [dbo].[PEDIDO] ([Id_Pedido])
GO
ALTER TABLE [dbo].[CONTIENE] CHECK CONSTRAINT [FK_CONTIENE_PEDIDO]
GO
ALTER TABLE [dbo].[CONTIENE]  WITH CHECK ADD  CONSTRAINT [FK_CONTIENE_PRODUCTO] FOREIGN KEY([Nombre_Producto])
REFERENCES [dbo].[PRODUCTO] ([Nombre_Producto])
GO
ALTER TABLE [dbo].[CONTIENE] CHECK CONSTRAINT [FK_CONTIENE_PRODUCTO]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_SUCURSAL] FOREIGN KEY([Id_Sucursal])
REFERENCES [dbo].[SUCURSAL] ([Id_Sucursal])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_EMPLEADO_SUCURSAL]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_CLIENTE] FOREIGN KEY([Cedula_Cliente])
REFERENCES [dbo].[CLIENTE] ([Cedula_Cliente])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_CLIENTE]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_SUCURSAL] FOREIGN KEY([Id_Sucursal])
REFERENCES [dbo].[SUCURSAL] ([Id_Sucursal])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_SUCURSAL]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_CATEGORIA] FOREIGN KEY([Id_Categoría])
REFERENCES [dbo].[CATEGORIA] ([Id_Categoría])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_CATEGORIA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_PROVEEDOR] FOREIGN KEY([Cedula_Provedor])
REFERENCES [dbo].[PROVEEDOR] ([Cedula_Proveedor])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_PROVEEDOR]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_SUCURSAL] FOREIGN KEY([Id_Sucursal])
REFERENCES [dbo].[SUCURSAL] ([Id_Sucursal])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_SUCURSAL]
GO
USE [master]
GO
