<div class="container">
	<div class="header center">
		<div>
			<h1>Sign Up</h1> 
			<h1>New Account</h1> 
		</div>
	</div>
	<div class="content center">
		<div>
			<input type="number" class="form-control" placeholder="ID"><br>
		    <input type="text" class="form-control" placeholder="Name"><br>
		    <input type="text" class="form-control" placeholder="Last Name"><br>
		    <input type="text" class="form-control" placeholder="Address"><br>
		    <input type="number" class="form-control" placeholder="Phone Number">
		    <h2>Birthday</h2> 	    
		    <input type="text" class="form-control" placeholder="Day-Month-Year">
		    <br>
		    <button class="button button1" ng-click="goTo('/login')">Go Back</button>
		    <button class="button button1" ng-click="goTo('/login')">Done</button>
		</div>
	</div> 
</div>