<div class="container">

	<!--LOGIN Header Content-->
	<div class="header center">
		<div>
			<h1>Welcome to epatec</h1>  
		</div>
	</div>

	<!--LOGIN Main Content-->
	<div class="content center">
		<div>
			<input type="text" class="form-control" ng-model="main.username" placeholder="username"><br><br>
			<input type="password" class="form-control" ng-model="main.password" placeholder="identification"><br><br>
			<button class="button button1" ng-click="goTo('/register')">Sign Up</button>
			<button class="button button1" ng-click="goTo('/orders')">Log In</button>
			<br>
		</div>	
	</div>

	<!--LOGIN Footer Content-->
</div>