<div class="header center">
	<h1>Hi, Welcome Back</h1>
</div>

<div class="content">
	<table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
			    <th>Client</th>
			    <th>Description</th>
			    <th>Phone Number</th>
			    <th>Time</th>
            </tr>
        </thead>
        <tbody>
        	<tr>
			  <tr>
			    <td>123</td>
			    <td>Kevin Quirós</td>
			    <td>100 Ladrillos</td>
			    <td>88888888</td>
			    <td>12:30</td>
			  </tr>
        </tbody>
   	</table>
</div>